html {
  scroll-behavior: smooth;
}

html,
body {
  overflow-x: hidden;
  width: 100%;
}

body::-webkit-scrollbar {
  width: 12px;
}

body::-webkit-scrollbar-track {
  background: transparent;
}

body::-webkit-scrollbar-thumb {
  background-color: var(--azulIdentidade);
  border-radius: 20px;
  border: 3px solid #e6e6e6;
}

body {
  margin: 0;
  padding: 0;
  background-color: #e6e6e6;
  color: #fff;
  font-family: "Poppins", "League Spartan", serif !important;
  font-style: normal;
  --azulIdentidadeOld: #1a3566;
  --azulIdentidade: #2d4c9c;
  background-image: url("./img/fundoBrancoSiteS.png");
  background-size: cover;
  background-position: center;
}

header,
footer {
  padding: 30px 10% 30px 10%;
  width: 100%;
  margin: auto;
  background-color: var(--azulIdentidade);
}

header ul li a,
footer ul li a {
  color: white;
  text-decoration: none;
  list-style: none;
}

ul {
  list-style: none;
  margin: 0px !important;
  padding: 0px;
}

ul li {
  font-weight: bold;
  line-height: 17px;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: auto;
}

.tituloH2 {
  font-size: 2.5em;
  margin: 0.5em 0;
  text-align: center;
  font-weight: 700;
}

h3 {
  margin: 5px 0 5px 0;
  font-weight: 400;
  font-size: 1.6em;
}

p {
  font-size: 1em;
}

img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.imgLogo {
  width: 400px;
}

.imgCarousel {
  max-width: 100%;
  height: auto;
  /* width: auto; */
  border-radius: 0 !important;
}

a {
  text-decoration: none;
  padding: 5px;
}

header a {
  font-size: 1.2em;
}

a:hover {
  /* background: rgba(0, 0, 0, 0.05); */
  border-radius: 6px;
  color: whitesmoke !important;
}

.aHover {
  background: transparent !important;
}

.aLinksCorpoSite {
  color: #007bff !important;
}

.aLinksCorpoSite:hover {
  color: #007bff !important;
  text-decoration: underline !important;
  background-color: transparent !important;
}

.aLinksFooter {
  color: white !important;
}

.aLinksFooter:hover {
  color: white !important;
  background-color: transparent !important;
}

.pad42 {
  padding: 42px 42px;
}

.identacaoPadrao {
  width: 75%;
  width: 100%;
  margin: auto;
}

.identaPad {
  /* padding-left: 10%;
  padding-right: 10%; */
  width: 90%;
  margin: auto;
}

.flexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.flexStart {
  display: flex;
  align-items: start;
  gap: 35px;
  flex-wrap: wrap;
}

.txtCenter {
  text-align: center;
}

.txtJust {
  text-align: justify;
}

.txtBlack {
  color: black;
  color: #333;
  text-align: center;
}

.txtAzul {
  color: var(--azulIdentidade);
  text-align: center;
}

.iconsImport {
  font-size: 70px;
  color: var(--azulIdentidade);
}

.whatsapp-button {
  position: fixed;
  bottom: 20px;
  right: 0px;
  z-index: 1000;
}

.whatsapp-button a img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  transition: transform 0.3s;
}

.identaServicos {
  gap: 30px;
  flex-wrap: wrap;
}

.identaServicosSingular {
  flex-direction: column;
  padding: 0px;
  background-color: #f7f7f7;
  border-radius: 6px;
  min-width: 285px;
  max-width: 285px;
  min-height: 170px;
  max-height: 170px;
}

.ajustaRodape {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* TALVEZ PRECISE AJUSTAR PARA FICAR RESPONSIVO COISAS ABAIXO: */

#btn-mobile {
  display: none;
  /* background: var(--azulIdentidade); */
}

#header {
  /* background-color: #e6e6e6;
  background-color: var(--azulIdentidade); */
  background: transparent;
  box-sizing: border-box;
  height: 70px;
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  /* teste */
  position: absolute;
  left: 0;
  right: 0;
  z-index: 99;
  justify-content: space-evenly;
}

#menu {
  display: flex;
  list-style: none;
  gap: 1rem;
}

#menu a {
  display: block;
  padding: 0.5rem;
}

.shape {
  background-color: var(--azulIdentidade);
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 20% 20% 20% 20%;
  top: 70px;
  right: 35%;
  z-index: -1;
}

.ajustaTextoPrincipal {
  transform: translateX(-95px);
}

.cardT {
  background-color: #f0f0f0;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.descricaoAreas {
  width: 245px;
  height: 130px;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  background-color: var(--azulIdentidade);
  color: white;
  padding: 10px;
  border-radius: 5px;
  font-size: 14px;
  transition: opacity 0.3s ease, visibility 0s linear 0.3s;
}

.carousel-item {
  transition: transform 0.6s linear, opacity 0.6s linear !important;
}

.backgroundContainer {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.backgroundContainer::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(img/backgroundAlecio.png);
  background-size: cover;
  background-size: contain;
  background-repeat: no-repeat;
  /* opacity: 0.6; */
  z-index: -1;
}

.maxWdth {
  max-width: 700px;
}

.flexColumn {
  flex-direction: column;
}

.tamCard {
  max-width: 350px;
}

.tamCard650 {
  max-width: 650px;
}

.padTop {
  padding-top: 50px;
}

.padBottom {
  padding-bottom: 50px;
}

#SecHome {
  background-image: url(./img/capaLoja.jpeg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  /* height: calc(100vh - 70px); */
  height: 100dvh;
  position: relative;
  opacity: 0.98;
}

.overlay {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 350px; /* Ajuste para aumentar/diminuir o efeito */
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.7) 20%,
    rgba(0, 0, 0, 0) 100%
  );
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding-bottom: 20px; /* Ajusta a posição do texto */
}

.overlay H1 {
  color: white;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}

.overlay-top {
  position: absolute;
  top: 0;
  width: 100%;
  height: 150px; /* Ajuste para um efeito mais ou menos intenso */
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.7) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding-top: 20px; /* Ajusta a posição do texto */
}

.squada-one-regular {
  font-family: "Squada One", serif;
  font-weight: 400;
  font-style: normal;
}

.imgInsta {
  max-width: 250px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.imgInsta:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
  /* transform: translateY(-10px) scale(1.05); */
  cursor: pointer;
}

.radioBtn {
  text-align: center;
}

.txtStart {
  text-align: start;
}

@media (max-width: 1550px) {
  .tituloH2 {
    font-size: 2.2em !important;
  }

  h3 {
    font-size: 1.5em !important;
  }

  .shape {
    right: 40%;
  }

  .ajustaTextoPrincipal {
    transform: translateX(-115px);
  }
}

@media (max-width: 1350px) {
  .tituloH2 {
    font-size: 2em !important;
  }

  h3 {
    font-size: 1.3em !important;
  }

  .ajustaTextoPrincipal {
    transform: translateX(-100px);
  }
}

@media (max-width: 1100px) {
  .tituloH2 {
    font-size: 1.3em !important;
  }

  h3 {
    font-size: 1.1em !important;
  }

  .ajustaTextoPrincipal {
    transform: translateX(-70px);
  }

  .ajustaTextoCentro {
    text-align: center;
  }
}

@media (max-width: 768px) {
  html,
  body {
    overflow: auto;
    overflow-x: hidden;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  section {
    flex-direction: column;
    text-align: center;
  }

  .pad42 {
    padding: 20px;
  }

  .identaServicos {
    gap: 10px;
    flex-wrap: wrap;
  }

  .ajustaRodape {
    flex-direction: column;
  }

  .ajustaTextoPrincipal {
    transform: translateX(0px);
  }

  #menu {
    display: block;
    position: absolute;
    width: 100%;
    top: 70px;
    right: 0px;
    background-color: #e7e7e7;
    transition: 0.6s;
    z-index: 1000;
    height: 0px;
    visibility: hidden;
    overflow-y: hidden;
  }

  #nav.active #menu {
    /* height: 100%; */
    height: 100vh;
    visibility: visible;
    overflow-y: auto;
  }

  #menu a {
    padding: 1rem 0;
    margin: 0 1rem;
    border-bottom: 2px solid rgba(0, 0, 0, 0.05);
    color: var(--azulIdentidade);
  }

  #menu a:hover {
    border-radius: 6px;
    color: var(--azulIdentidade) !important;
  }

  #btn-mobile {
    display: flex;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border: none;
    cursor: pointer;
    gap: 0.5rem;
    border-radius: 8px;
  }

  #hamburger {
    border-top: 2px solid black;
    width: 20px;
  }

  #hamburger::after,
  #hamburger::before {
    content: "";
    display: block;
    width: 20px;
    height: 2px;
    background: black;
    margin-top: 5px;
    transition: 0.3s;
    position: relative;
  }

  #nav.active #hamburger {
    border-top-color: transparent;
  }

  #nav.active #hamburger::before {
    transform: rotate(135deg);
  }

  #nav.active #hamburger::after {
    transform: rotate(-135deg);
    top: -7px;
  }

  .shape {
    background-color: transparent;
    width: 0%;
    height: 0%;
    position: absolute;
    border-radius: 20% 20% 20% 20%;
    top: 0px;
    right: 0px;
    z-index: -1;
  }

  .bordaCel {
    background-color: var(--azulIdentidade);
    padding-right: 30px;
    padding-left: 30px;
  }

  .auxMarginTop {
    margin-top: 35px !important;
  }

  .textoCel {
    color: var(--azulIdentidade);
  }

  .padBottom {
    padding-bottom: 20px;
  }

  .padTop {
    padding-top: 20px;
  }

  .margBottom {
    margin-bottom: 22px;
  }

  .textoChecks {
    text-align: start;
  }

  .imgLogo {
    width: 300px;
  }

  #header {
    justify-content: end;
  }

  .imgInsta {
    max-width: 200px;
  }

  header a {
    font-size: 1em;
  }
}
